/* =================================
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
}

h2,
h3,
a {
    color: #093a58;
}

h2,
h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 1.25em;
}

.name,
.main-nav li {
    text-align: center;
    background: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-nav a {
    font-size: .95em;
    color: #3acec2;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #093a58;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    display: block;
}

/* ---- Layout Containers ---- */



.main-container {
    padding-left: 1em;
    padding-right: 1em;
}
.main-footer {
    text-align: center;
    padding: 2em 0;
    background: #d9e4ea;
}

.feat-img{
    width: 300px;
    float:left;
    margin-top:5px;
    margin-bottom: 25px;
    margin-right:25px;
    padding: 10px;
    border: 1px solid grey;
}


.clearfix::after {
    content:"";
    display:table;
    clear:both;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
body{
    padding-top: 150px;
}
    .main-header {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        background: #3acec2;
        margin-bottom: 30px;
        text-align: center;
        position: fixed;
        width: 100%;
        top:0;
        z-index: 1000;/* exclude overlapping the image with fixed positioning headers*/
        /*height: 110px;*/
    }
    .wrap {
        min-height: calc(100vh - 89px);
    }

    .main-container{
        width: 80%;
        max-width: 1150px;
        margin: 0 auto;
        /*border: 1px solid orangered*/
    }
    .co1{
        float:left;
        padding-left: 1em;
        padding-right: 1em;
    }
    .first-container,
    .second-container{
        width: 50%;
        padding:20px;
        margin:0;
        float: left;

    }
    /*.second-container{
        width: 30%;
        padding:10px;
        margin:0;
        float: left;

    }*/

    .name,
    .col{
        float:left
    }
    .main-nav{
        float: right;
    }
    .main-nav li{
        float:left;
        margin-left: 15px;
    }

    .name,
    .main-nav li {
        /*display: inline;*/
        display: inline-block;
    }

    .name {
        width: 240px;
    }

}
@media (min-width: 1024px) {
    .main-container{
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
    }
    .first-container{
        width: 40%;
    }
    .second-container,
    .tertiary{
        width:30%;
    }
}




